.header {
  width: 80%;
  height: 60px;

  justify-content: space-between;

  margin: 1em auto 1em auto;
  padding: 0px 1em;

  background-color: var(--primary);
  color: var(--secondary);

  border-radius: 16px;

  .header-side {
    width: 100%;
    height: 100%;

    &.header-left {
      justify-content: flex-start;
    }

    &.header-right {
      justify-content: flex-end;
    }
  }

  .header-option {
    height: 100%;
    width: 150px;

    justify-content: center;
    align-items: center;

    transition: background-color 150ms linear, color 150ms linear;

    cursor: pointer;

    &:hover {
      background-color: var(--primary-dark);
      color: var(--secondary-light);
    }

    &:active {
      background-color: var(--primary-darker);
      color: var(--secondary-lighter);
    }

    .header-option-label {
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 12px;
    }
  }
}
