:root {
  --secondary-lighter: #d9ed92ff;
  --secondary-light: #b5e48cff;
  --secondary: #99d98cff;
  --secondary-dark: #76c893ff;
  --secondary-darker: #52b69aff;

  --primary-lighter: #34a0a4ff;
  --primary-light: #168aadff;
  --primary: #1a759fff;
  --primary-dark: #1e6091ff;
  --primary-darker: #184e77ff;

  
  --secondary-lighter-raw: 217, 237, 145;
  --secondary-light-raw: 181, 228, 139;
  --secondary-raw: 153, 217, 140;
  --secondary-green-raw: 116, 200, 146;
  --secondary-darker-raw: 82, 183, 154;

  --primary-lighter-raw: 51, 159, 163;
  --primary-light-raw: 22, 137, 172;
  --primary-raw: 26, 116, 158;
  --primary-dark-raw: 29, 94, 144;
  --primary-darker-raw: 24, 78, 119;
}
